/* General styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #34353b;
  color: #ffffff;
  margin: 0;
  padding-top: 56px; /* Height of the fixed navbar */
}

/* Header and Navbar */
header .navbar-brand img {
  height: 40px;
  margin-left: -650%;
  margin-right: auto;
}

header .landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  /*background-image: url("path-to-your-background-image.jpg");*/
  background-size: cover;
  background-position: center;
  color: #ffffff;
  background-color: #34353b;
}

header .intro h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

header .intro span {
  color: #f4b400;
}

header .intro .btn {
  margin-top: 1rem;
}

header .socials {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

header .socials a {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

header .socials .line {
  background-color: #f4b400;
}

/* About Section */
section.about .line {
  background-color: #f4b400;
}

section.about p {
  font-size: 1.2rem;
}

/* Skills Section */
section.skills h1,
section.experience h1,
section.contact h1 {
  margin-bottom: 2rem;
}

section.skills .skill-card {
  margin-bottom: 2rem;
}

section.skills .skill-card img {
  height: 100px;
  width: 100px;
}

section.skills .skill-card h2 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

/* Experience Section */
section.experience .exp {
  margin-bottom: 2rem;
}

section.experience .exp h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

section.experience .exp h3 {
  font-size: 1.25rem;
}

section.experience .exp p {
  font-size: 1rem;
}

/* Contact Section */
section.contact .form-control {
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: #1c1c1c;
}

footer p {
  margin: 0;
  color: #ffffff;
  font-size: 0.9rem;
}
section {
  display: block;
  background-color: #34353b;
}
